[submodule "deps/libeio"]
	path = deps/libeio
	url = git@github.com:rapid7/libeio.git

[submodule "deps/libsigar"]
	path = deps/libsigar
	url = git@github.com:rapid7/sigar.git
[submodule "deps/libev"]
	path = deps/libev
	url = git@github.com:rapid7/libev.git
