name: Verify

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  actions: none
  checks: none
  contents: none
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  verify:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - ubuntu-latest
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25

    name: ${{ matrix.os }} - Ruby ${{ matrix.ruby }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Ruby
        env:
          BUNDLE_WITHOUT: "development"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Compilation
        run: |
          make

      - name: Run tests
        run: |
          bundle install
          bundle exec rspec
